:root {
  --main-bg: #222;
  --main-font: #ddd;
  --main-shadow: #888;
  --neutral: #48d;
  --attention: #d84;
  --highlight: #8ad;
  --good: #4d6;
  --bad: #d42;
  color-scheme: dark light;
}
@media (prefers-color-scheme: light) {
  :root {
    --main-font:#333;
    --main-bg: #fff;
  }
}
* {
  box-sizing: border-box;
}
body {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  background-color: var(--main-bg);
  color: var(--main-font);
  font-family: "Aldrich", "Lucida Sans Unicode", "Lucida Grande", "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template:
    "a a" min-content
    "b c" auto
    "d d" 2ch
    "e e" 20vh / 13fr 5fr;
  gap: 0.5ch;
  margin: 0 1.3ch;
}

nav {
  padding: 0.3em 0.5em;
  border-bottom: thin solid var(--main-shadow);
}

input,
select {
  margin-right: 0.7em;
  border-radius: 0.4em;
  min-width: 7ch;
  max-height: 2rem;
}

input[type="number"] {
  width: 3em;
}
input[type=range] {
  min-width: 100px;
  color: var(--main-shadow);
}

#audio-sources {
  max-height: 80vh;
  overflow-y: auto;
  grid-area: b;
  width: max(60ch, max-content);
}
#global-controls {
  grid-area: c;
}
#keyboard {
  grid-area: e;
}

#oscillator-panel {
  flex: 4;
}
button {
  position: relative;
  color: var(--main-font);
  background-color: var(--main-bg);
  border: 2px solid var(--main-font);
  border-radius: 5vmin;
  box-shadow: var(--main-shadow) 0.1em 0.2em 0;
  min-width: min-content;
  min-height: 2ch;
}
button:active {
  color: var(--neutral);
  border-color: var(--neutral);
  box-shadow: none;
  top: 0.2em;
  left: 0.1em;
}
button:active.add {
  color: var(--good);
  border-color: var(--good);
}
button:active.remove {
  color: var(--bad);
  border-color: var(--bad);
}
#add-oscillator {
  position: relative;
  height: 5vmin;
  width: 5vmin;
  margin-left: 0.5em;
  border-width: medium;
  font-size: 1.2em;
  font-weight: bold;
}

.oscillator {
  border: solid thin var(--main-shadow);
  padding: 0.2em;
  border-left: none;
  border-right: none;
  text-align: center;
}

.panel {
  padding: 0.7em;
  margin-top: 0.5em;
  margin-bottom: 0px;
  border: solid thin var(--main-shadow);
  display: grid;
  grid-template-columns: max-content min-content;
  grid-column-gap: 1ch;
  text-align: right;
  font-size: 0.85rem;
  justify-content: space-evenly;
}

#controller-form {
  padding: 1em;
  border: solid thick var(--attention);
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  grid-area: a;
}

#controller-form > * {
  margin-right: 1em;
  --neutral: var(--attention);
}

.invisible,
.oscillator:only-child > button.remove-oscillator {
  visibility: hidden;
}

#controller-form.hidden,
.hidden {
  display: none !important;
}

a {
  color: var(--neutral, #88d);
}
a:visited {
  color: var(--highlight, #a8d);
}

#chord-name {
  text-align: center;
  grid-area: d;
}
#sharp-or-flat::after {
  content: '♭';
  color: var(--main-font);
  position: relative;
  left: 100%;
}
#sharp-or-flat:checked::after {
  content: '♯';
}

.flexrow {
  display: flex;
  flex-direction: row;
}
#additive-oscillators {
  display: flex;
}

.validate {
  border: thick inset var(--good);
}
.validate:invalid {
  border-color: var(--bad);
}

details {
  max-width: 60ch;
  padding: 1ch;
}

textarea { 
  width: 100%;
}
