.hidden {
  display: none;
}

html, body {
  height: 100%;
  background-color: #222;
  color: #DDD;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#controller-form {
  padding: 1em;
  border: solid thick #800;
}

.curve {
  display: none;
}

section.oscillator:only-of-type > button.removeOscillator {
  display: none;
}
